body{
   background-image: url(../images/Textura2.jpg);  
}

.Paper{
    margin: 0 auto;
    height: 1100px;
    width: 1505px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
    background-image: url(../images/newspaper_top-fs8.png);
}
.container{
    height: 1100px;
    width: 1505px; 
    margin: 0 auto;
}
.header{
    height: 150px;
    width: 1024px;
    background-image: url(../images/header.jpg);
    
}
.tvar{
     background-image: url(../images/2332464642.jpg);
    width: 600px;
    height: 600px;
    float: left;
    border: 10px double black;
}
.menu {
	margin: 0 auto;
	font-family: Georgia;
    width: 600px;
	}
.menu li {
	list-style: none;
	float: left;
	height: 33px;
	margin: 0;
	width: 150px;
	text-align: center;
	background: rgba(65, 164, 237, 0.91);
	position: relative;
	padding-top: 12px;
	}
.menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	}
.menu li ul li {
	float: none;
	height: 33px;
	margin: 0;
	width: 150px;
	text-align: center;
	background: #7F7F7F;
	}
.menu li a {
	display: block;
	width: 150px;
	height: 33px;
	color: #fff;
	text-decoration: none;
	}
.menu li:hover ul{
	display: block;
	}
.menu li:hover {
	background: #2f41a7;
	}
.B2{
    height: 75px;
    width: 1024px;
    background-color: chartreuse;
}
.B1ContDisp{
 height: 250px;
 width: 1024px;
 background-color: aqua;


}
.BContent1{
  height: 250px; 
  width: 341px;
float:left;
}
.B2ContDisp{
 height: 300px;
 width: 1024px;
 background-color: rgba(4, 55, 150, 0.9);
}
.BContent2{
  height: 300px; 
  width: 512px;
float:left;
}
.B3ContDisp{
 height: 300px;
 width: 1024px;
 background-color: rgba(82, 6, 226, 0.9);
}
.BContent3{
  height: 300px; 
  width: 256px;
float:left;
}
.bottom{
   height: 400px;
    width: 1024px;
    background-image: url(../images/bottom.jpg-original);
}